body{
	background:var(--background-color);
}

.logo{
	position:absolute;
	top:40px;
	left:40px;
}

.principal{
	display:flex;
	height:100vh;
	align-items:center;
	justify-content:center;
} 

.conteudo{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	height:60%;
	width:90%;
	max-width:688px;
 }

.primeira-secao-flex{
	width:100%;
}

.entrada-de-texto{
	align-self:start;
	font-size:32px;
	color:var(--main-color);
	width:300px;
	height:48px;
	border:none;
	background:transparent;
}

.entrada-de-texto::placeholder{
	color:var(--main-color);
	font-size:32px;
}

.entrada-de-texto:focus{
	outline:none;
}	

.entrada-de-texto:focus::placeholder{
	color:transparent;
}

.mensagem-de-alerta{
	margin-bottom:16px;
	color:#495057;
}
	 
.botoes{
	display:flex;
}

.botao{
	font-size:1rem;
	width:317px;
	height:67px;
	border:none;
	border-radius:24px;
	cursor:pointer;
}

#botao-primario{
	color:#fff;
	background:var(--main-color);
	margin-right:24px;
}

#botao-secundario{
	background:transparent;
	color:var(--main-color);
	border:1px var(--main-color) solid;
}

@media(max-width:375px){
	.botoes{
		flex-direction:column;
		align-items:center;
	}
	#botao-primario{
		margin: 0 0 24px 0;
	}
}
