.adicionar__principal{
	display:flex;
	height:89vh;
	align-items:center;
	justify-content:center;
} 

.conteudo{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	height:60%;
	width:90%;
	max-width:688px;
 }

.primeira-secao-flex{
	width:100%;
}

.entrada-de-texto{
	align-self:start;
	font-size:32px;
	color:var(--main-color);
	width:100%;
	max-width:300px;
	height:48px;
	border:none;
	background:transparent;
}

.entrada-de-texto::placeholder{
	color:var(--main-color);
	font-size:32px;
}

.entrada-de-texto:focus{
	outline:none;
}	

.entrada-de-texto:focus::placeholder{
	color:transparent;
}

.mensagem-de-alerta{
	margin-bottom:16px;
	color:#495057;
}
	 
.botoes{
	display:flex;
	justify-content:space-around;
}

.botao{
	width:100%;
	max-width:332px;
	height:67px;
}

@media(max-width:767px){
	.botoes{
		flex-direction:column;
		align-items:center;
	}
	.botao-primario{
		margin: 0 0 24px 0;
	}
}
