body{
	background:var(--background-color);
  display:flex;
  flex-direction:column;
}

.cabecalho{
  align-self:center;
  width:95%;
	height:15vh;
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.cabecalho__logo{
  font-size:0;
  padding:24px;
  background: no-repeat url("../assets/img/logo.svg");
}

.botao{
	font-size:1rem;
  width:317px; 
	height:105px;
	border:none;
	border-radius:24px;
	cursor:pointer;
}

.botao_primario{
	color:#fff;
	background:var(--main-color);
	margin-bottom:29px;
}

.botao_secundario{
	background:transparent;
	color:var(--main-color);
	border:1px var(--main-color) solid;
}
