body{
	background:var(--background-color);
}

.cabecalho{
	height:11vh;
}

.cabecalho__logo{
	position:absolute;
	top:40px;
	left:40px;
}

.botao{
	font-size:1rem;
  width:317px; 
	height:105px;
	border:none;
	border-radius:24px;
	cursor:pointer;
}

.botao_primario{
	color:#fff;
	background:var(--main-color);
	margin-bottom:29px;
}

.botao_secundario{
	background:transparent;
	color:var(--main-color);
	border:1px var(--main-color) solid;
}
