.configuracoes{
  height:70%;
  width:80%;
  max-width:752px;
}

.opcao{
  width:100%;
  display:flex;
  justify-content:space-between;
}

.opcao__descricao{
  font-size:1.5rem;
  color:var(--main-color);
}

.botao-switch{
  cursor:pointer;
}

.botao-switch__checkbox{
  display:none;
}

.botao-switch__checkbox:checked + .botao-switch__interruptor{
  background-color:var(--main-color);
}

.botao-switch__interruptor{
  border-radius:10px;
  display:inline-block;
  background-color:#ccc;
  position:relative;
  width:50px;
  height:24px;
  transition:2s;
}

.botao-switch__interruptor:before{
  background-color:#fff;
  border-radius:50%;
  box-shadow:0 0 2px rgba(0,0,0,0.25);
  content:"";
  display:inline-block;
  height:25px;
  left:-2px;
  position:absolute;
  transition:1s;
  top:0;
  width:25px;
}

.botao-switch__checkbox:checked + .botao-switch__interruptor:before{
  transform:translateX(30px);
  transition:1s;
}
