.cabecalho__configuracoes:visited{
  color:var(--main-color); 
}

.cabecalho__icone-config{
   color:var(--main-color);
   font-size:2.2rem !important;
 }

.home__principal{
  height:85vh;
  display:flex;
  align-items:center;
  flex-direction:column;
  justify-content:center;
}

.principal__mensagem-servidor{
  background-color:rgba(256,0,0,0.6);
  border-radius: 8px;
  box-sizing:border-box;
  color:#fff;
  font-size:1rem;
  font-weight:bold;
  margin-bottom:1rem;
  max-width:317px;
  padding: 15px 0px;
  text-align:center;
  width:90%;
}
.principal__botoes{
  width:90%;
  max-width:317px;
	display:flex;
	flex-direction:column;
}

.botao{
	 width:100%; 
	 height:105px;
}
