.home__principal{
  height:100vh;
  display:flex;
  align-items:center;
  flex-direction:column;
  justify-content:center;
}

.principal__botoes{
	display:flex;
	flex-direction:column;
}

.botao{
	 width:317px; 
	 height:105px;
}
