.jogo__principal{

	display:flex;
	flex-direction:column;
	height:85vh;
	align-items:center;
	justify-content:center;
} 

.jogo__conteudo{
	height:100%;
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}

.quadro{
	align-self:center;
	width:90%;
	max-width:626px;
	display:flex;
	flex-direction:column;
 }

 .forca{
	 height:40vh;
 }

 .letras-palavra{
	 height:20%;
 }

 .teclado-virtual{
	 -ms-overflow-style:none;/*IE and Edge*/
	 scrollbar-width:none;/*Fireforx*/
	 width:100%;
   overflow-y:hidden;
	 display:flex;
	 flex-wrap:wrap;
	 align-items:center;
	 justify-content:center;
	 margin-bottom:20px
 }

 .teclado-virtual::-webkit-scrollbar{
	 display:none;
 }

 .tecla-virtual{
	 cursor:pointer;
	 width:50px;
	 height:60px;
	 font-size:24px;
	 color:#fff;
	 margin:0 13px 10px 0;
	 background:var(--main-color);
	 border:none;
	 border-radius:4px;
 }

 .tecla-desativada{
	 cursor:auto;
	 background:#646E7A;
 }

.botoes{
	width:100%;
  max-width:740px;
	align-self:center;
	display:flex;
	justify-content:center;
}

.botao{
	width:100%;
	max-width:332px;
	height:67px;
}

.botao-primario{
  margin-right:15px;
}

@media(max-width:840px){

	.teclado-virtual{
		width:80%;
		align-self:center;
		justify-content:start;
		display:grid;
		grid-template-columns: repeat(26,1fr);
		overflow-x:scroll;
	}

}

@media(max-width:375px){
	.teclado-virtual{
		width:90%;
	}

	.tecla-virtual{
		width:40px;
		height:50px;
	}
	
  .botoes{
    width:100%;
    flex-direction:column;
    align-items:center;
  }
}
